* {
  margin: 0;
  padding: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  margin: 30px 40px;
  list-style: none;
  font-weight: bold;
}

#language {
  height: 20px;
  width: 60px;
  background: rgb(170, 170, 170);
  border-radius: 10px;
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 0.8rem;
}

header {
  height: 700px;
  background: url(../img/bg.jpg) center;
}
header .main-header #logo {
  padding: 130px 0 0 0;
  text-align: center;
}
header .main-header h1 {
  padding: 30px 0 0 0;
  text-align: center;
  color: white;
}
header .main-header button {
  background: transparent;
  border: 2px solid white;
  color: white;
  height: 50px;
  width: 350px;
  margin: 50px 40%;
  font-size: 1.2rem;
}

.header-text {
  height: 200px;
}
.header-text p {
  text-align: center;
  padding: 70px 382px 70px 382px;
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-part {
  background: rgb(20, 20, 20);
  height: 700px;
}
.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-part .list-icon-part {
  margin: 100px 80px;
  height: 500px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icon-part .list-icon-part img {
  padding: 0 40px 40px 0;
  height: 200px;
}
.icon-part .list-icon-part h3 {
  text-align: center;
  color: wheat;
}
.icon-part .list-icon-part p {
  text-align: center;
  padding: 20px 0 20px 0;
  color: white;
}
.icon-part .list-icon-part button {
  background: transparent;
  border: 2px solid wheat;
  color: wheat;
  margin: 0 0 0 50px;
  height: 40px;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
}

.news-part {
  background: rgb(226, 226, 226);
  padding: 100px 0 0 0;
}
.news-part .header-news {
  display: grid;
  grid-template-columns: 70% 30%;
}
.news-part .header-news .left-part {
  padding: 0 0 100px 100px;
}
.news-part .header-news .left-part h2 {
  font-size: 3rem;
}
.news-part .header-news .left-part p {
  padding-top: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}
.news-part .header-news .right-part {
  padding: 40px 0 100px 0;
}
.news-part .header-news .right-part button {
  background: transparent;
  border: 2px solid black;
  margin: 25px 0 0 0;
  height: 40px;
  width: 200px;
  font-size: 1.2rem;
  font-weight: bold;
}
.news-part .main-news {
  height: 600px;
}
.news-part .main-news .main-news-container {
  display: grid;
  grid-template-columns: 35% 35% 35%;
}
.news-part .main-news .main-news-container h4 {
  margin: 15px 0 0 0;
  font-size: 1.2rem;
}
.news-part .main-news .main-news-container p {
  margin: 15px 0 0 0;
  font-weight: bold;
}
.news-part .main-news .main-news-container .news-left {
  margin: 0 0 0 270px;
  text-align: center;
  width: 255px;
}
.news-part .main-news .main-news-container .news-left .link {
  margin: 15px 0 0 0;
  font-size: large;
}
.news-part .main-news .main-news-container .news-center {
  margin: 0 0 0 130px;
  text-align: center;
  width: 255px;
}
.news-part .main-news .main-news-container .news-center .link {
  margin: 90px 0 0 0;
  font-size: large;
}
.news-part .main-news .main-news-container .news-right {
  text-align: center;
  width: 255px;
}
.news-part .main-news .main-news-container .news-right .link {
  margin: 72px 0 0 0;
  font-size: large;
}

.contact {
  margin: 200px 0 0 0;
}
.contact .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}
.contact .list {
  margin: 20px 40px;
  width: 200px;
}
.contact .list h5 {
  margin: 20px 0;
  text-align: start;
  font-size: 1.5rem;
}
.contact .list h6 {
  font-size: 1.2rem;
}
.contact .list p {
  font-weight: bold;
  font-size: 1.1rem;
}
.contact .list ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  padding: 0;
}
.contact .list li {
  padding: 0px;
}
.contact .list #contact-img {
  margin: 30px 0;
}

.contact-medias {
  display: grid;
  grid-template-columns: 30% 70%;
}
.contact-medias .medias-text {
  margin: 0 100px 50px 40px;
}
.contact-medias .medias-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  color: rgb(255, 255, 255);
}
footer h3 {
  text-align: center;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */