* {
    margin: 0;
    padding: 0;
    cursor: none;
}

body {
    background: rgb(26, 25, 25);
    color: whitesmoke;
}

.mouse {
    position: absolute;
    border-radius: 1500px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}
#cursor {
    background: #2128bd;
    width: 14px;
    height: 14px;
}
#mouse1 {
    height: 60px;
    width: 60px;
    background: white;
    transition: 0.1s ease-out;
}
#mouse2 {
    height: 150px;
    width: 150px;
    background: rgb(36, 35, 35);
    transition: 0.2s ease-out;
}

nav {
    display: flex;
    justify-content: space-between;
    h2 {
    margin: 30px 20px;
    font-size: 2rem;
    }
    ul {
        display: flex;
    }
    li {
        list-style: none;
        margin: 30px 100px;
        font-size: 1.5rem;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

a {
    z-index: 1000;
        position: relative;
        //z-index + pos/relative important pour rendre des lien clickable avec mousemove//
}

header {
    display: flex;
    
}

.header-left {
    width: 50%;
}

.header-left-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0 0 20px;
    h1{
        font-size: 6rem;
    }
    h2 {
        margin: 20px 0 30px 0;
        font-size: 2.5rem;
        color: rgb(109, 109, 238);
    }
    p {
        font-size: 1.3rem;
    }
}

.header-right {
    width: 50%;
    img {
        margin: 20px 20px 0 0;
        height: 780px;
    }
}

.info {
    margin: 10px;
    height: 180px;
    display: flex;
    background: black;
    border: 1px solid black;
    border-radius: 15px;
    
    .info-left {
        width: 40%;
        h3 {
            margin: 15px 0 0 16px;
        }
    
        .btn-container {
            margin: 10px 50px 0 0;
            display: flex;
            flex-direction: column;
            button {
                width: 130px;
                height: 30px;
                margin: 5px 0 3px 18px;
                border-radius: 10px;
                background: rgb(65, 65, 219);
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }
        }
    }

    .info-right {
        h3 {
            margin: 15px;
        }
        .investisors {
            display: flex;
            justify-content: start;
        }
        .img-container {
            img {
                margin: 15px 25px 0 50px;
                height: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .header-right {
        margin: 80px 0 0 0;
    }
    #modempic {
        height: 400px;
    }
    #info-img {
        height: 28px;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        li {
            margin: 45px 20px;
            font-size: 1rem;
        }
    }
    .header-left-container {
        margin: 10px 20px;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .header-right {
        width: 50%;
        margin: 40px 0 0 0;
        img {
            margin: 60px 2px 0 0;
        }
    }
    #modempic {
        margin: 20px 0 0 0;
        height: 160px;
    }
    #info-img {
        margin: 43px 0 0 15px;
        height: 20px;
    }
}

